/_Deparsed_XSubs.pm
/samizdat.yml
/locale/ar/LC_MESSAGES/com.fakenews.mo
/locale/be/LC_MESSAGES/com.fakenews.mo
/locale/de/LC_MESSAGES/com.fakenews.mo
/locale/fr/LC_MESSAGES/com.fakenews.mo
/locale/hu/LC_MESSAGES/com.fakenews.mo
/locale/pl/LC_MESSAGES/com.fakenews.mo
/locale/sr/LC_MESSAGES/com.fakenews.mo
/locale/uk/LC_MESSAGES/com.fakenews.mo
/locale/zh/LC_MESSAGES/com.fakenews.mo
/locale/en/LC_MESSAGES/com.fakenews.mo
/locale/ru/LC_MESSAGES/com.fakenews.mo
/locale/sv/LC_MESSAGES/com.fakenews.mo
